<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Timeato</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/index.css">
        <!-- Favicon -->
        <link rel="icon" href="./assets/favicon.jpg">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <img class="background" src="../assets/index-images/background.jpg">
        <div class="index__container">
            <div class="text__container">
                <h1 class="index__title">Timeato</h1>
                <p class="index__p">Go into your study sessions with intention.</p>
                <div class="link__container">
                    <a class="link" href="/login">Login</a>
                    <a class="link" href="/signup">Signup</a>
                    <form id="demo" action="/login?demo=true" method="POST">
                        <button class="link">Demo</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
