<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Promodoro Login</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <h1>Login!</h1>
    <form action="/login" method="POST">
      <ul class="login__listitems">
        <li class="login__listitem">
					<h3 class="login__subheading">Email:</h3>
					<input type="email" name="email" placeholder="Email"/>
				</li>
        <li class="login__listitem">
					<h3 class="login__subheading">Password:</h3>
					<input type="password" name="password" placeholder="Password"/>
				</li>
        <li class="login__listitem">
				  <input class="submit-btn login-btn" type="submit" value="Confirm Login" />
        </li>
      </ul>
    </form>
</body>
</html>