<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>
    
    <!-- Pomodoro time -->
    <nav>
        <button>Logout</button>
    </nav>
    
    <div>
        <h1>Pomodoro</h1>
        
        <span>TIMER</span>

        <span>Choose a time:</span>

        <ul>
            <li>25 mins</li>
            <li>5 mins</li>
        </ul>

        <span>Tag your time:</span>
        <ul>
            <li>Work</li>
            <li>Study</li>
        </ul>

        <button>Start/Stop</button>

        <p>See how you've been spending your time below</p>
    </div>

    <!-- Stats Breakdown -->
    <div>

        <h2>Today's Breakdown</h2>
        <ul>
            <li>Tag: Time</li>
            <li>Tag 2: Time</li>
        </ul>

        <h2>This Week's Breakdown</h2>
        <ul>
            <li>Tag: Time</li>
            <li>Tag 2: Time</li>
        </ul>


        <h2>This Month's Breakdown</h2>
        <ul>
            <li>Tag: Time</li>
            <li>Tag 2: Time</li>
        </ul>
        
    </div>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>
