<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/signup.css">
		<title>Pomodoro Sign Up</title>
	</head>
	<body>
		<h1 class="signup__title">Sign Up!</h1>
		<form action="/signup" method="POST">
			<ul class="signup__list">
				<li class="signup__listitem">
					<h3 class="signup__subheading">UserName:</h3>
					<input type="text" name="userName" />
				</li>
				<li class="signup__listitem">
					<h3 class="signup__subheading">Email:</h3>
					<input type="email" name="email" />
				</li>
				<li class="signup__listitem">
					<h3 class="signup__subheading">Password:</h3>
					<input type="password" name="password" />
				</li>
				<li class="signup__listitem">
					<h3 class="signup__subheading">Confirm Password:</h3>
					<input type="password" name="confirmPassword" />
				</li>
				<li class="signup__listitem">
					<input class="submit-btn" type="submit" value="Confirm Signup" />
				</li>
			</ul>
		</form>
	</body>
</html>
