<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pomodoro Sign Up</title>
	</head>
	<body>
		<h1>Sign Up!</h1>
		<form action="/signup" method="POST">
			<ul>
				<li>
					<input
						type="text"
						name="userName"
						placeholder="User Name"
					/>
				</li>
				<li><input type="email" name="email" placeholder="Email" /></li>
				<li>
					<input
						type="password"
						name="password"
						placeholder="Password"
					/>
				</li>
				<li>
					<input
						type="password"
						name="confirmPassword"
						placeholder="Confirm Password"
					/>
				</li>
				<li><input type="submit" /></li>
			</ul>
		</form>
	</body>
</html>
