<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pomodoro Sign Up</title>
	</head>
	<body>
		<h1>Sign Up!</h1>
		<form action="/signup" method="POST">
			<ul>
				<li>
					<h3>UserName:</h3>
					<input type="text" name="userName" />
				</li>
				<li>
					<h3>Email:</h3>
					<input type="email" name="email" />
				</li>
				<li>
					<h3>Password:</h3>
					<input type="password" name="password" />
				</li>
				<li>
					<h3>Confirm Password:</h3>
					<input type="password" name="confirmPassword" />
				</li>
				<li><input type="submit" value="Confirm Signup" /></li>
			</ul>
		</form>
	</body>
</html>
