body {
    background: white;
}

.background {
    position: absolute;
    z-index: -1000;
    opacity: 1;
    top: 0;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

.text__container {
    background: #28966b;
    border-radius: 0.5rem;
    margin-inline: 30rem;
    padding-block: 5rem;

    background: rgba(40, 150, 107, 0.9);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.index__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100vh;
}

.index__title,
.index__p,
.link__container {
    text-align: center;
}

.index__title {
    font-size: 10rem;
}

.index__p {
    font-size: 3rem;
    font-weight: 200;
}

.link__container {
    margin-top: 3rem;
}


.link {
    position: relative;

    text-decoration: none;

    font-size: 2rem;
    font-weight: 300;
    background: white;
    color: black;

    padding: .5rem 1rem;
    margin-inline: 1rem;
    margin-bottom: .25rem;

    border: none;
    border-radius: .5rem;
    box-shadow: 0 0.35rem #bbbbbb;
}

.link:hover {
    cursor: pointer;
    top: -0.3rem;
    box-shadow: 0 .7rem #bbbbbb;
}