.login__form {
  width: 30%;
}

.login__list {
	display: grid;
  height: 100%;
	grid-template-columns: 100%;
  grid-template-rows: repeat(3, 100px);
	padding-inline: 4rem;
}

.login__listitem {

  display: flex;
  align-items: center;
  width: 100%;

}

.login__listitem input {
  width: 80%;
}

.login__subheading {
  margin-right: 2rem;
  width: 22%;
}

input {
	margin-block:auto;
}

li {
  list-style-type: none;
}