/* Lightest Green: #90c1ac
Lighter Green: #6fb89b
Light Green: #45ad84
Green: #28966b
Medium Green: #257866
Dark Green: #184f42 */

* {

  /* outline: 1px solid black; */

}

body {

  background-color: #28966b;

}

.wrapper {
  width: 50%;
  margin: auto;
  margin-top: 15rem;
}

.pomodoro__title {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 5rem;
  color: white;
}

.pomodoro__timer {

  font-size: 3rem;
  width: 50%;
  margin: auto;
  text-align: center;

}

.timeSelect {

  padding-inline: 1rem;

}

.pomodoro__list {

  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding-block: 0.5rem;

}

.pomodoro__list-item {

  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;

}

.pomodoro__cta {

  font-size: 3rem;
  color: white;

}