/* .signup__listitem {
	display: grid;
	grid-template-columns: 20% 40%;
	padding-inline: 4rem;
	gap: 1rem;
}
input {
	height: 75%;
	margin-block:auto;
	width:70%;
}
.submit-btn {
	height: 100%;
} */


/* 
============== Base Styles ==============
*/

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.signup__btn:hover {
	cursor: pointer;
}

/* 
============== Layout Styles ==============
*/

body {
	display: flex;
	flex-direction: row-reverse;
	color: #0d0c22;
}

hr {
	width: 50rem;
	border: .05rem solid #e0e0e0;
}

.signup__subheading {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

.signup__btn {
	margin-top: 3.5rem;
}

.signup__btn,
.signup__input {
	border-radius: 0.5rem;
}

/* 
============== Additional Styles ==============
*/

/* Image (left-side of layout) */
.signup__image {
	height: 100vh;
	object-fit: cover;
}

/* Form Container (right-side of layout) */
.signup__text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.signup__form-container {
	margin-block: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup__header {
	padding: 2.5rem;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.signup__logo {
	width: 4rem;
}
.signup__logo {
	background-image: url('../assets/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-size: 4rem;
	width: 4rem;
	height: 4rem;
}
.signup__logo:hover{
	background-image: url('../assets/logo-hover.png');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-size: 4rem;
	width: 4rem;
	height: 4rem;
}

.login__redirect {
	font-size: 1.3rem;
	font-weight: 300;
}

.login__link {
	font-weight: 400;
	font-size: 1.3rem;
	color: #28966b;
	text-decoration: none;
}

.login__link:hover {
	color: #184f42;
}

.password__min-len {
	font-size: 1.5rem;
	font-weight: 200;
}

.signup__subheading {
	font-size: 1.5rem;
	font-weight: 400;
}

.signup__input,
.signup__btn,
.signup__title {
	min-width: 50rem;
}

.signup__title {
	font-size: 2.2rem;
	font-weight: 600;
	text-align: left;
}

.signup__input {
	border: none;
	background: #f3f3f4;
	padding: .8rem;
	padding-left: 1.5rem;
	font-size: 1.2rem;
}

.signup__btn {
	font-size: 1.5rem;
	background: #28966b;
	color: white;

	padding: 1rem;

	border: none;
	box-shadow: 0 0.35rem #257866;
	position: relative;
	margin-bottom: 2rem;
}

.signup__btn:hover {
	cursor: pointer;
	top: -0.35rem;
	box-shadow: 0 .7rem #257866;
}

/* 
============== Media Queries ==============
*/

@media all and (max-width: 1125px) {
	.signup__image {
		display: none;
	}
}

@media all and (max-width: 600px) {

	.signup__input,
	.signup__btn,
	.signup__title {
		min-width: 35rem;
	}

	hr {
		width: 35rem;
	}
}